.hide{
    width: 100%;
   display: flex;
   flex-direction: column; 
}


.Description,  .Detail{
    margin-left: 12%;
    margin-right: auto;
    width: 800px;
    height: 50px;
    overflow: hidden;
    transition: all 0.4s ease-out;
}

.Description, .Detail > h2 {
    cursor: pointer;
}

.fullInfo{
    height: 220px;  
}

.Detail > p > span{
    font-weight: bold;
    height: 0px;
    width: 50px;
    margin:0 5px;
    vertical-align: middle;
    display: inline;

}
.Detail > p > span > p{
    display: inline;;

}